{
    auto_https off
    admin off
}

{$FRONTEND_LISTEN} {
    tls {$TLS_CERT_FILE} {$TLS_KEY_FILE}
    root * /srv
    encode gzip zstd
    try_files {path} /index.html
    file_server
    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    }
}
